**Actividad 1**

In [1]:
# Importar pandas
import pandas as pd

In [2]:
# Crea una Serie de los numeros 10, 20 and 10.
serie = pd.Series([10, 20, 10])
serie

0    10
1    20
2    10
dtype: int64

In [3]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
serie01 = pd.Series(["rojo", "verde", "azul"])
serie01

0     rojo
1    verde
2     azul
dtype: object

In [29]:
# Crea un dataframe vacío llamado 'df'
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [5]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df['col'] = serie
df

   col
0   10
1   20
2   10

In [6]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df['col01'] = serie01
df

   col  col01
0   10   rojo
1   20  verde
2   10   azul

In [20]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

avengers = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/REPASO 2022/data/avengers.csv")
avengers.head()

Mounted at /content/drive

                                                 URL  ...                                              Notes
0      http://marvel.wikia.com/Henry_Pym_(Earth-616)  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...  ...  Dies in Secret Invasion V1:I8. Actually was se...
2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)  ...  Death: "Later while under the influence of Imm...
3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...  ...  Dies in Ghosts of the Future arc. However "he ...
4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)  ...  Dies in Fear Itself brought back because that'...

[5 rows x 7 columns]

In [14]:
# Muestra las primeras 10 filas del DataFrame. 
avengers.head(10)

                                                 URL  ...                                              Notes
0      http://marvel.wikia.com/Henry_Pym_(Earth-616)  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1  http://marvel.wikia.com/Janet_van_Dyne_(Earth-...  ...  Dies in Secret Invasion V1:I8. Actually was se...
2  http://marvel.wikia.com/Anthony_Stark_(Earth-616)  ...  Death: "Later while under the influence of Imm...
3  http://marvel.wikia.com/Robert_Bruce_Banner_(E...  ...  Dies in Ghosts of the Future arc. However "he ...
4   http://marvel.wikia.com/Thor_Odinson_(Earth-616)  ...  Dies in Fear Itself brought back because that'...
5  http://marvel.wikia.com/Richard_Jones_(Earth-616)  ...                                                NaN
6  http://marvel.wikia.com/Steven_Rogers_(Earth-616)  ...    Dies at the end of Civil War. Later comes back.
7   http://marvel.wikia.com/Clint_Barton_(Earth-616)  ...  Dies in exploding Kree ship in Averngers Vol. ...
8  http://marvel.wikia.com/Pietro_Maximoff_(Earth...  ...  Dies in House of M Vol 1 Issue 7. Later comes ...
9  http://marvel.wikia.com/Wanda_Maximoff_(Earth-...  ...  Dies in Uncanny_Avengers_Vol_1_14. Later comes...

[10 rows x 7 columns]

In [21]:
# Muestra las últimas 5 filas del DataFrame.
avengers.tail()

                                                   URL  ... Notes
168   http://marvel.wikia.com/Eric_Brooks_(Earth-616)#  ...   NaN
169  http://marvel.wikia.com/Adam_Brashear_(Earth-6...  ...   NaN
170  http://marvel.wikia.com/Victor_Alvarez_(Earth-...  ...   NaN
171     http://marvel.wikia.com/Ava_Ayala_(Earth-616)#  ...   NaN
172         http://marvel.wikia.com/Kaluu_(Earth-616)#  ...   NaN

[5 rows x 7 columns]

In [23]:
# Muestra el tamaño del DataFrame
avengers.shape

(173, 7)

In [25]:
# Muestra los data types del dataframe
avengers.dtypes

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

In [26]:
# Cambia el indice a la columna "fecha_inicio".
avengers = avengers.set_index("fecha_inicio")
avengers

                                                            URL  ...                                              Notes
fecha_inicio                                                     ...
1963              http://marvel.wikia.com/Henry_Pym_(Earth-616)  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1963          http://marvel.wikia.com/Janet_van_Dyne_(Earth-...  ...  Dies in Secret Invasion V1:I8. Actually was se...
1963          http://marvel.wikia.com/Anthony_Stark_(Earth-616)  ...  Death: "Later while under the influence of Imm...
1963          http://marvel.wikia.com/Robert_Bruce_Banner_(E...  ...  Dies in Ghosts of the Future arc. However "he ...
1963           http://marvel.wikia.com/Thor_Odinson_(Earth-616)  ...  Dies in Fear Itself brought back because that'...
...                                                         ...  ...                                                ...
2013           http://marvel.wikia.com/Eric_Brooks_(Earth-616)#  ...                                                NaN
2014          http://marvel.wikia.com/Adam_Brashear_(Earth-6...  ...                                                NaN
2014          http://marvel.wikia.com/Victor_Alvarez_(Earth-...  ...                                                NaN
2014             http://marvel.wikia.com/Ava_Ayala_(Earth-616)#  ...                                                NaN
2015                 http://marvel.wikia.com/Kaluu_(Earth-616)#  ...                                                NaN

[173 rows x 6 columns]

In [28]:
# Ordena el índice de forma descendiente
avengers.sort_index(ascending=False)

     fecha_inicio  ...                                              Notes
172          2015  ...                                                NaN
171          2014  ...                                                NaN
170          2014  ...                                                NaN
169          2014  ...                                                NaN
168          2013  ...                                                NaN
..            ...  ...                                                ...
4            1963  ...  Dies in Fear Itself brought back because that'...
3            1963  ...  Dies in Ghosts of the Future arc. However "he ...
2            1963  ...  Death: "Later while under the influence of Imm...
1            1963  ...  Dies in Secret Invasion V1:I8. Actually was se...
0            1963  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...

[173 rows x 7 columns]

In [27]:
# Resetea el indice
avengers = avengers.reset_index()
avengers

     fecha_inicio  ...                                              Notes
0            1963  ...  Merged with Ultron in Rage of Ultron Vol. 1. A...
1            1963  ...  Dies in Secret Invasion V1:I8. Actually was se...
2            1963  ...  Death: "Later while under the influence of Imm...
3            1963  ...  Dies in Ghosts of the Future arc. However "he ...
4            1963  ...  Dies in Fear Itself brought back because that'...
..            ...  ...                                                ...
168          2013  ...                                                NaN
169          2014  ...                                                NaN
170          2014  ...                                                NaN
171          2014  ...                                                NaN
172          2015  ...                                                NaN

[173 rows x 7 columns]

**Actividad 2**

Supongamos que somos un agente de Airbnb localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado airbnb.csv (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [31]:
airbnb = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/REPASO 2022/data/airbnb.csv")
airbnb.head()

   room_id  host_id        room_type  ... accommodates  bedrooms  price
0     6499    14455  Entire home/apt  ...            2       1.0   57.0
1    17031    66015  Entire home/apt  ...            2       1.0   46.0
2    25659   107347  Entire home/apt  ...            3       1.0   69.0
3    29248   125768  Entire home/apt  ...            4       1.0   58.0
4    29396   126415  Entire home/apt  ...            4       1.0   67.0

[5 rows x 9 columns]

En concreto el dataset tiene las siguientes variables:

* room_id: el identificador de la propiedad 
* host_id: el identificador del dueño de la propiedad
* room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
* neighborhood: el barrio de Lisboa
* reviews: El numero de opiniones
* overall_satisfaction: Puntuacion media del apartamento
* accommodates: El numero de personas que se pueden alojar en la propiedad
* bedrooms: El número de habitaciones
* price: El precio (en euros) por noche

**Caso 1**

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [45]:
alicia = airbnb[    
  # lugares con más de 10 críticas
  (airbnb.reviews > 10) &

  #puntuación mayor de 4
  (airbnb.overall_satisfaction > 4) &

  # apartamento con habitaciones separadas
  (airbnb.bedrooms >= 2)

# ordenar las habitaciones de mejor a peor puntuación
].sort_values(
    by=["overall_satisfaction","reviews"], 
    ascending=False
    
# Debemos darle 3 alternativas.
).head(3)

alicia

     room_id  host_id        room_type  ... accommodates  bedrooms  price
120   176153   842219  Entire home/apt  ...            4       2.0  102.0
16     44043   192830  Entire home/apt  ...            7       3.0   80.0
140   202150   989393  Entire home/apt  ...            4       2.0   62.0

[3 rows x 9 columns]

**Caso 2**

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387 respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xlsx"

**Caso 3**

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas (room_type == Shared room), y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.